/* Reset */
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

/* Styles */
body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1 {
    color: yellow;
    height: 20vh;
}

#renew {
    position: absolute;
    height: 20vh;
    width: auto;
    top: 0;
    right: 0;
}

h2{
    min-height: 30vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    color: rgb(228, 211, 214);
}

#buttons {
    display: flex;
    flex-direction: row;
    margin: 5vh;
}

button {
    height: 5vh;
    width: 10vw;
    padding: 3%;
    margin: 3%;
}